<h1>Team management</h1>
<button (click)="onNewTeam()" class="btn btn-success p-2 mb-3">
  Create new team
</button>
<div class="mx-auto w-auto">
  <table class="table table-striped table-hover center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Leader</th>
        <th scope="col">Created Date</th>
        <th scope="col">Modified Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams; let i = index">
        <td>
          <a routerLink="/team-detail/{{team._id}}" class="align-middle fs-6">{{
            i
          }}</a>
        </td>
        <td class="align-middle fs-6">{{ team.name }}</td>
        <td class="align-middle fs-6">{{ team.leader.name }}</td>
        <td class="align-middle fs-6">{{ team.createdDate }}</td>
        <td class="align-middle fs-6">{{ team.modifiedDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
